In [1]:
import pandas as pd
df=pd.read_csv('env/testdfScaled.csv',header=0)

In [4]:
df=df.drop(['isFraud','Unnamed: 0'],axis=1)

In [4]:
df=df.drop('Unnamed: 0',axis=1)

In [20]:
import csv
with open('env/testdfScaled.csv', 'r') as f:
    # Create a CSV reader
    reader = csv.reader(f)
    for row in reader:
        x=row

In [21]:
print(x)

['8261', '1.0', '0.0', '0.0343245548152326', '0.0', '1.0', '0.0357596899052512', '0.0045871559633027', '1.0', '0.1148356232630447', '0.0181818181818181', '0.8217468805704099', '0.4298245614035088', '0.0', '0.0', '0.1085671108047048', '0.5403225806451613', '1.0', '0.75', '0.7169811320754718', '0.0', '0.0178571428571428', '0.0', '0.2222222222222222', '0.0', '0.0476190476190476', '1.0', '0.0', '0.0', '0.106060606060606', '0.0212765957446808', '0.0', '0.0113636363636363', '0.4756394792867235', '0.0', '0.5901639344262295', '0.9689922480620154', '1.0', '0.5909090909090909', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0238805970149253', '0.0', '0.0333333333333333', '0.0175438596491228', '0.0', '1.0']

In [6]:
df[1:2]

,id_33_5,V156,TransactionDT,id_35_1,id_35_2,TransactionAmt,V187,id_30_3,id_02,V201,...,id_33_12,V162,id_33_3,R_emaildomain_9,V232,V226,V189,V243,V256,isFraud
1,1.0,0.013501,0.389879,0.0,1.0,0.019175,0.013761,1.0,0.055341,0.054545,...,0.0,0.0,0.0,0.0,0.002985,0.0,0.1,0.035088,0.011494,1.0

In [37]:
for x in df[9:12]:
    x